<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beer Form Fragment</title>
</head>
<body>
<form th:fragment="beer-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${beer}" method="post">
    <label th:text="#{beer.label.name}">Beer</label>
    <br/>
    <input type="text" th:field="*{name}"/>
    <label class="error" th:errors="*{name}">Name error placeholder</label>
    <br/><br/>

    <label th:text="#{beer.label.abv}">ABV</label>
    <br/>
    <input type="text" th:field="*{abv}"/>
    <label class="error" th:errors="*{abv}">ABV error placeholder</label>
    <br/><br/>

    <label th:text="#{beer.label.style}">Style</label>
    <br/>
    <select th:field="*{styleId}">
        <option th:each="style : ${styles}"
                th:value="${style.getId()}"
                th:text="${style.getName()}">
            BeerStyleOne
        </option>
    </select>
    <label class="error" th:errors="*{styleId}">Style error placeholder</label>
    <br/><br/>

    <input type="submit" value="Save"/>
</form>
</body>
</html>