.top-beer {
    border: solid red;
    border-radius: 10px;
    padding: 10px;
}

.top-beer .star {
    font-size: 40px;
    display: flex;
    justify-content: flex-end;
}

.top-beer .star svg {
    color: gold;
}