<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${beerModel.getName()}">Beer Profile</title>
</head>
<body>
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
    <li><h3><a href="#" th:href="@{/beers}" th:text="#{navigation.all-beers}">Browse all beers</a></h3></li>
</ul>

<h2 th:text="${beerModel.getName()}">Beer Name</h2>
<h3 th:text="${beerModel.getAbv()}">4.5</h3>
<h3 th:text="${beerModel.getStyle().getName()}">Porter</h3>
<h3 th:text="${beerModel.getCreatedBy().getEmail()}">user@mail.com</h3>
</body>
</html>