<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Beers</title>
    <link href="../static/custome_styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
</ul>

<div th:if="${beersModel.isEmpty()}">
    <h2 th:text="#{beers.title.empty}">No Beers</h2>
</div>
<div th:unless="${beersModel.isEmpty()}">
    <h2 th:text="#{beers.title}">All Beers</h2>

    <div class="table">
        <div class="header">
            <div class="cell" th:text="#{beers.label.name}">Name</div>
            <div class="cell" th:text="#{beers.label.abv}">ABV</div>
            <div class="cell" th:text="#{beers.label.style}">Style</div>
        </div>
        <div class ="row" th:each="beer : ${beersModel}">
            <div class="cell">
                <a href="#" th:href="@{/beers/{id}(id=${beer.getId()})}" th:text="${beer.name}">Beer</a>
            </div>
            <div class="cell" th:text="${beer.abv}">4.5</div>
            <div class="cell" th:text="${beer.style.name}">Style</div>
        </div>
    </div>
</div>
</body>
</html>